<h1>About My Book Store</h1>

<p> I have created this Book Store website to showcase a collection of books with their authors and genres. I tried to make it as accessible and easy to naigate as possible. Still under construction.</p>

<h2>Books</h2>
<p>
  The books data comes from various sources, including CSV files and Faker gem-generated data. I have collected information about a wide range of books spanning different genres, authors, publishers, and more.
</p>

<h3>Data Structure</h3>
<ul>
  <li>Title</li>
  <li>Author</li>
  <li>Genre</li>
  <li>Height</li>
  <li>Publisher</li>
</ul>

<h2>Database Schema</h2>
<p>
  The database schema is designed to efficiently store and manage the relationships between books, authors, and other relevant entities. Below is a high-level overview of our database schema:
</p>


<h3>Books Table</h3>
<ul>
  <li>Title</li>
  <li>Author</li>
  <li>Genre</li>
  <li>Height</li>
  <li>Publisher</li>
</ul>

<h3>Users Table</h3>
<ul>
  <li>Name</li>
  <li>Email</li>
   <li>Password</li>
</ul>

<p>
  This is just a brief overview of othe data sources and database structure. Feel free to explore our website to discover more about the books and authors we have in our collection!
</p>