<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Register', new_user_path %></li>
    <li><%= link_to 'Genres', genres_path %></li>

  </ul>
</nav>